{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * test plugin for Craft CMS 3.x
 *
 * test Settings.twig
 *
 * @author    Christian Hiller
 * @copyright Copyright (c) 2019 Christian Hiller
 * @link      kreisvier.ch
 * @package   Test
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.autosuggestField({
    label: 'Api-Schluessel'|t('k4-image-optimizer'),
    instructions: 'Ihr API-Schluessel zur Benutzung z.B. fuer die automatisierte Bildoptimierung in cron jobs'|t('k4-image-optimizer'),
    id: 'apiKey',
    name: 'apiKey',
    suggestEnvVars: true,
    value: settings['apiKey']})
}}


<div class="field">
    <div class="heading">
        <label>{{ 'Cron Job'|t('k4-image-optimizer') }}</label>
        <div class="instructions"><p>{{ 'Erstellen Sie einen "cron job" mit der folgenden Zeile um einen automatisierten Prozess zu starten'|t('k4-image-optimizer') }}</p>
        </div>
    </div>
    <div class="input ltr">
        <code>* * 1 * * curl --silent {{ siteUrl }}api/optimize?apiKey={{ settings['apiKey'] }}</code>

    </div>
</div>


{{ forms.selectField({
    toggle: true,
    label: "Welches Tool möchten Sie benutzten?"|t('k4-image-optimizer'),
    instructions: 'Local, TinyPNG oder ShortPixel'|t('k4-image-optimizer'),
    id: 'optimizeTool',
    name: 'optimizeTool',
    options: [
        {'label':'Lokal','value':'local'},
        {'label':'Tinify','value':'tinypng'},
        {'label':'Short Pixel','value':'shortpixel'}
    ],
    showAllOption: true,
    value: settings['optimizeTool']})
}}
<div id="local" {% if settings['optimizeTool'] != 'local' %} class="hidden"{% endif %}>
    {{ forms.textField({
        label: 'Pfad zu den lokalen Tools'|t('k4-image-optimizer'),
        instructions: 'Sie koennen einen Pfad angeben fuer ihre lokalen Optimierungstools wie z.B. pnqquant,optipng'|t('k4-image-optimizer'),
        id: 'binaryPath',
        name: 'binaryPath',
        value: settings['binaryPath']})
    }}
    {{ forms.checkbox({
        label: 'benutze die statischen "Binaries" fuer Mac OS welche im Plugin mitgeliefert werden'|t('k4-image-optimizer') ,
        id: 'pluginBinaries',
        name: 'pluginBinaries',
        checked: settings['pluginBinaries']})
    }}
</div>

<div id="tinypng" {% if settings['optimizeTool'] != 'tinypng' %} class="hidden"{% endif %}>
{{ forms.textField({
    label: 'Tinify API-Schluessel'|t('k4-image-optimizer'),
    id: 'tinifyApiKey',
    name: 'tinifyApiKey',
    value: settings['tinifyApiKey']})
}}
</div>

<div id="shortpixel" {% if settings['optimizeTool'] != 'shortpixel' %} class="hidden"{% endif %}>
    {{ forms.autosuggestField({
        label: 'ShortPixel API-Schluessel'|t('k4-image-optimizer'),
        id: 'shortPixelApiKey',
        name: 'shortPixelApiKey',
        suggestEnvVars: true,
        value: settings['shortPixelApiKey']})
    }}

</div>

{{ forms.autosuggestField({
    label: 'Basis-Ordner'|t('k4-image-optimizer'),
    instructions: 'In welchem Ordner sollen Bilder optimiert werden?'|t('k4-image-optimizer'),
    id: 'baseFolder',
    name: 'baseFolder',
    suggestAliases: true,
    required:true,
    default:'@webroot',
    value: settings['baseFolder']??'@webroot'})
}}

{{ forms.textareaField({
    label: 'ausgeschlossene Strings in Filenames'|t('k4-image-optimizer'),
    instructions: 'Bitte geben sie die Strings als JSON array an.'|t('k4-image-optimizer'),
    id: 'excludedStrings',
    name: 'excludedStrings',
    value: settings['excludedStrings']??'',
    class: 'code'})
}}


