{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var forms  #}
{#
/**
 * K4 Image Optimizer plugin for Craft CMS
 *
 * K4ImageOptimizerUtility Utility Content
 *
 * @author    Thomas Bauer
 * @copyright Copyright (c) 2019 Thomas Bauer
 * @link      https://kreisvier.ch
 * @package   K4ImageOptimizer
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@k4/k4imageoptimizer/assetbundles/k4imageoptimizerutilityutility/dist', true) ~ '/img/K4ImageOptimizerUtility-icon.svg' %}

<!--<img src="{{ iconUrl }}" height="64" width="64" />-->

<div data-icon="info">&nbsp;{{ 'Bilder im @webroot Ordner mit "_" am Anfang im Dateinamen werden optimiert'|t('k4-image-optimizer') }}</div>

<form id="optimize-images" class="utility" method="post" accept-charset="UTF-8">
    <input type="hidden" name="action" value="k4-image-optimizer/default/optimize">
    <input type="hidden" name="apiKey" value="{{ craft.app.plugins.getPLugin('k4-image-optimizer').settings.apiKey }}">
    {{ csrfInput() }}

    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ 'Bilder optimieren'|t('k4-image-optimizer') }}" />
        <div class="utility-status"></div>
    </div>
</form>
<p>
    <ul class="result"></ul>
</p>



